@media (max-width: 400px) {
  /*Home Section*/
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 22px;
  }

  .navbar-name-icon {
    font-size: 18px;
  }

  .buttons,
  .btns {
    display: block;
    text-align: center;
    margin-top: 50px;
  }

  .social {
    display: none;
  }

  .footer-container i {
    font-size: 20px;
  }
  .hero {
    padding: 60px 20px;
  }

  .footer-link {
    font-size: 14px;
  }

  .contact-title {
    font-size: 28px;
  }
}

@media (max-width: 560px) {
  .about-section-content h3 {
    font-size: 30px;
    line-height: 2rem;
  }

  .about-section-content h2 {
    font-size: 16px;
    line-height: 2rem;
  }

  .contact-content h2 {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  .contact-container {
    border: none;
    box-shadow: none;
    width: 100%;
  }

  .contact-content {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 1000px) {
  .about-section-img {
    width: 50%;
    margin: 30px auto;
  }

  .about-section-content h3 {
    font-size: 36px;
    line-height: 2rem;
  }

  .project-content h1 {
    font-size: 30px;
  }
}
