:root {
  --heading-font-family: "Roboto", sans-serif;
  --body-font-family: "Dosis", sans-serif;
  --primary-colour: #d59bf6;
  --secondary-colour: #edb1f1;
}
/*  font-family:  "Open Sans", sans-serif; */
body {
  font-family: var(--body-font-family);
  background-color: #f6f5f5;
  margin: 0;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 80px;
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: 22px;
}

h3 {
  font-size: 35px;
}

.navbar-bgc {
  background-color: #f6f5f5 !important;
}

.navbar-name-icon {
  font-size: 28px;
  font-family: "Dosis", sans-serif;
}

.navlink-text {
  font-size: 18px;
}

.hero {
  padding: 120px 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btns {
  padding: 15px 30px;
  border: none;
  background-color: var(--primary-colour);
  border-radius: 10px;
  margin: 0px 10px;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
}

.btns:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(217, 207, 223, 0.7);
}

.footer-container {
  background-color: rgba(213, 155, 246, 0.3);
  border-top: 1px solid black;
}

.footer-link {
  margin: 8px 0;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.footer-link:hover {
  cursor: pointer;
  font-weight: 600;
}

.footer-link:active,
.footer-link:visited {
  color: black;
  text-decoration: none;
}

@media (max-width: 400px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 22px;
  }

  .navbar-name-icon {
    font-size: 18px;
  }

  .buttons {
    display: block;
    text-align: center;
  }

  .btns {
    margin: 10px 10px;
  }
  .hero {
    padding: 60px 20px;
  }

  .footer-link {
    font-size: 14px;
  }
}
