:root {
  --heading-font-family: "Playfair Display", serif;
  --body-font-family: "Poppins", sans-serif;
  --primary-colour: #d59bf6;
  --secondary-colour: #edb1f1;
}
/* font-family:"Dosis", sans-serif "Roboto", sans-serif; */
html {
  height: 100%;
}

body {
  font-family: var(--body-font-family);
  background-color: #f6f5f5;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 80px;
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: 22px;
}

h3 {
  font-size: 35px;
  font-weight: normal;
}

/*Home Section*/

.title-container {
  display: grid;
  place-items: center;
}

.title-typed {
  overflow: hidden;
  white-space: nowrap;
  animation: typing;
  animation-duration: 2.2s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.navbar-bgc {
  background-color: #f6f5f5 !important;
}

.navbar-name-icon {
  font-size: 24px;
}

.navlink-text {
  font-size: 18px;
}

.navlink-list {
  margin: 0px 20px;
}

.hero {
  padding: 120px 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btns {
  padding: 15px 30px;
  border: none;
  background-color: var(--primary-colour);
  border-radius: 10px;
  margin: 0px 10px;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.btns:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(217, 207, 223, 0.7);
}

.btns:visited {
  text-decoration: none;
  color: black;
}

.footer-container {
  background-color: rgba(213, 155, 246, 0.3);
  border-top: 1px solid black;
  margin-top: 30px;
  padding: 5px 0;
}

.footer-link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  margin: 8px 0;
}

.footer-link:hover {
  cursor: pointer;
  font-weight: 600;
}

.footer-link:active,
.footer-link:visited {
  color: black;
  text-decoration: none;
}

/*About Section 2*/
@keyframes highlight {
  from {
    background-position: 0;
  }

  to {
    background-position: -100%;
  }
}

.highlight {
  animation-name: highlight;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  background-size: 200%;
  background-image: linear-gradient(to right, white 50%, transparent 50%),
    linear-gradient(transparent 50%, rgb(213, 155, 246) 50%);
}

.about-section-content {
  text-align: center;
}

.about-section-content h3 {
  font-family: var(--heading-font-family);
  font-size: 46px;
  line-height: 5rem;
  font-weight: normal;
}

.about-section-content h2 {
  font-size: 22px;
  margin: 30px 0;
  font-weight: 600;
}

.about-section-content p {
  text-align: justify;
  margin: 0 auto 50px;
  width: 80%;
}

.about-section-img {
  margin: auto 0;
  width: 30%;
  text-align: center;
}

.about-section-img img {
  border-radius: 9999px;
}

.btns-about {
  margin-bottom: 50px;
}

/*Project Section*/
.card-container {
  padding: 60px 60px;
}

.card:hover {
  transition: 10ms;
  border: 1px solid black;
  top: -10px;
}

.project-content img {
  margin: auto 0;
  height: 300px;
  width: auto;
  text-align: center;
  padding: 20px;
}

.project-content .row {
  margin: 0;
}

.project-content h1 {
  font-size: 50px;
}

.project-content h3 {
  font-size: 26px;
  font-weight: 700;
}

.project-content h5 {
  font-size: 24px;
  font-weight: 700;
}

.card-container {
  cursor: pointer;
  box-shadow: 8px 8px 8px rgba(213, 155, 246, 0.3);
}

/*Contact Section #979797*/
.contact-title {
  font-size: 50px;
}
.contact-container {
  margin: 0 auto;
  padding: 40px 20px;
  width: 50%;
}

.contact-info a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
  margin: 15px 10px;
}

.contact-info a:hover {
  color: var(--primary-colour);
  text-decoration: underline;
  text-decoration-color: var(--primary-colour);
}

.contact-text {
  font-size: 20px;
}

.contact-content .btns {
  font-size: 20px;
  border-radius: 9999px;
  margin-top: 80px;
}

.contact-content .btns:hover {
  background-color: #f6f5f5;
  border: 2px solid var(--primary-colour);
}

.nametag {
  font-size: 14px;
}
