:root {
  --heading-font-family: "Playfair Display", serif;
  --body-font-family: "Poppins", sans-serif;
  --primary-colour: #d59bf6;
  --secondary-colour: #edb1f1;
}
/* font-family:"Dosis", sans-serif "Roboto", sans-serif; */
body {
  font-family: var(--body-font-family);
  background-color: #f6f5f5;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 80px;
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: 22px;
}

h3 {
  font-size: 35px;
  font-weight: normal;
}

.navbar-bgc {
  background-color: #f6f5f5 !important;
}

.navbar-name-icon {
  font-size: 24px;
}

.navlink-text {
  font-size: 18px;
}

.navlink-list {
  margin: 0px 20px;
}

.hero {
  padding: 120px 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btns {
  padding: 15px 30px;
  border: none;
  background-color: var(--primary-colour);
  border-radius: 10px;
  margin: 0px 10px;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.btns:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(217, 207, 223, 0.7);
}

.btns:visited {
  text-decoration: none;
  color: black;
}

.footer-container {
  background-color: rgba(213, 155, 246, 0.3);
  border-top: 1px solid black;
  margin-top: 30px;
  padding: 5px 0;
}

.footer-link {
  margin: 8px 0;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.footer-link:hover {
  cursor: pointer;
  font-weight: 600;
}

.footer-link:active,
.footer-link:visited {
  color: black;
  text-decoration: none;
}

/*About Section 2*/

.about-section-content {
  text-align: center;
}

.about-section-content h3 {
  font-family: var(--heading-font-family);
  font-size: 50px;
  line-height: 5rem;
  font-weight: normal;
}

.about-section-content h2 {
  font-size: 22px;
  margin: 30px 0;
  font-weight: 600;
}

.about-section-content p {
  text-align: justify;
  margin: 0 auto 50px;
  width: 80%;
}

.about-section-img {
  margin: auto 0;
  width: 30%;
  text-align: center;
}

.about-section-img img {
  border-radius: 9999px;
}

.btns-about {
  margin-bottom: 50px;
}

/*Project Section*/
.card-container {
  padding: 60px 60px;
}
.project-content img {
  margin: auto 0;
  height: 300px;
  width: auto;
  text-align: center;
  padding: 20px;
}

.project-content .row {
  margin: 0;
}

.project-content h1 {
  font-size: 36px;
}

.project-content h3 {
  font-size: 26px;
  font-weight: 700;
}

.project-content h5 {
  font-size: 24px;
  font-weight: 700;
}

.card-container {
  cursor: pointer;
  box-shadow: 8px 8px 8px rgba(213, 155, 246, 0.3);
}
